body {
    padding-top: 1rem;
}

.hidden {
    display: none
}

.vid {
    flex: 0 1 auto;
    /* height: 320px; */
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 1rem;
    padding: 1px;
}

.card {
    margin-bottom: 1rem;
}
